/* RESET file
https://github.com/unocss/unocss/tree/main/packages/reset */
@import '@unocss/reset/tailwind-compat.css';

/* General rules and best practices */

a,
button {
  touch-action: manipulation;
  background-color: transparent;
}

* {
  scroll-behavior: smooth;
}

/*
  BEST PRACTICES: optimal length for a paragraph
*/
p {
  max-width: clamp(52ch, 64ch, 75ch);
}
