/* RESET file
https://github.com/unocss/unocss/tree/main/packages/reset */
@import '@unocss/reset/tailwind-compat.css';

/*
  General rules and best practices
*/

a,
button {
  touch-action: manipulation;
  background-color: transparent;
}

* {
  scroll-behavior: smooth;
}

/* BEST PRACTICES: optimal length for a paragraph */
p {
  max-width: clamp(52ch, 64ch, 75ch);
}

/* HIDE SCROLLBARS */
html,
body {
  /*FireFo*/
  scrollbar-width: none;
  /*IE10+*/
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  /*Chrome, Safari, Edge*/
  display: none;
  -webkit-appearance: none;
}

/* 
  CUSTOM STYLES
*/

/* Variables */
:root {
  --background-white: oklch(95.81% 0 0);
  --light-grey: oklch(85.76% 0 0);
}

body {
  @apply font-body;
  /* variable with fallback */
  background-color: var(--background-white, #f1f1f1);
}
