:root {
  --background-white: oklch(95.81% 0 0);
  --light-grey: oklch(85.76% 0 0);
}

body {
  @apply font-sans;
  /* variable with fallback */
  background-color: var(--background-white, #f1f1f1);
}

.bb-card-container {
  @apply flex justify-center flex-wrap gap-2.5 p-5;
}

.bb-card {
  border: 1px solid var(--light-grey, #d0d0d0);
  box-shadow: var(--shadow-elevation-medium);
  @apply relative
   flex-grow
   px-4 pt-3 pb-20
   font-serif;
}

.bb-card > *:first-child {
  text-shadow: var(--shadow-elevation-low);
  @apply font-black font-sans text-2xl;
}
.bb-card > *:first-child::first-letter {
}

.bb-card::after {
  content: '';
  background-image: linear-gradient(to right, #ffcd00 0%, #fda100 100%);

  background-image: linear-gradient(
    to right in oklab,
    oklch(93% 0.38 91 / 0.6) 0%,
    oklch(77% 0.39 97 / 0.8) 80%,
    oklch(88% 0.35 10 / 0.8) 100%
  );

  @apply absolute w-full h-1
   left-0 bottom-0;
}
