/* RESET file
https://github.com/unocss/unocss/tree/main/packages/reset */
@import '@unocss/reset/tailwind-compat.css';

/*
  General rules and best practices
*/

a,
button {
  touch-action: manipulation;
  background-color: transparent;
}

* {
  scroll-behavior: smooth;
}

/* BEST PRACTICES: optimal length for a paragraph */
p {
  max-width: clamp(52ch, 64ch, 75ch);
}

/* HIDE SCROLLBARS */
html,
body {
  /*FireFo*/
  scrollbar-width: none;
  /*IE10+*/
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  /*Chrome, Safari, Edge*/
  display: none;
  -webkit-appearance: none;
}

/* 
  CUSTOM STYLES
*/

body {
  @apply font-mono
  bg-bb-backgroundwhite
  text-bb-outerspace;
}

.action-button {
  @apply border border-bb-outerspace
  px-5 py-2.5
  bg-bb-backgroundultrawhite;

  box-shadow: var(--shadow-elevation-low);
}

.action-button-fill {
  @apply inline-block
  font-mono font-bold text-bb-backgroundultrawhite text-sm
  bg-bb-honey px-2 py-1
  border border-bb-backgroundwhite;

  box-shadow: var(--shadow-elevation-low);
}
